/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Barlow", sans-serif;
  /* font-family: 'Fraunces', serif; */
  font-size: 18px;
  line-height: 1.7em;
}

a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

#header {
  background-color: hsl(200, 100%, 62.2%);
  display: flex;
  justify-content: space-between;
}
#logo {
  font-family: 'Fraunces', serif;
  padding: 1.25rem;
}
#filler {
  flex-grow: 1;
}

#navbar ul {
  list-style-type: none;
}
#navbar ul li {
  display: inline-block;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin-top: 1.2rem;
  border-radius: 30px;
}

#navbar ul li a{
  font-size: small;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin-top: 1.2rem;
  border-radius: 30px;
  background: hsl(0, 0%, 100%);
  color: hsl(198, 62%, 26%);
}

.hero-image {
  
  text-align: center;
   font-family: 'Fraunces', serif;
   font-size: 18px;
   line-height: 1.7em;
      color: hsl(0, 0%, 100%);
      background-color: hsl(200, 100%, 62.2%);
      background-image: url("../img/desktop/image-header.jpg");
      height: 500px; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: contain, cover; /* Resize the background image to cover the entire container */
     }
     .rectangle {
      height: 100px;
      width: 3px;
      background-color: hsl(0, 0%, 100%);
    }
     .arrow {
      border: solid hsl(0, 0%, 100%);
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }
    
     .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

     @media screen and (max-width: 550px) {
      #header {
        background-color: hsl(200, 100%, 62.2%);
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      #filler {
        width: none;
      }
      #navbar ul li {
        display: block;
        /* background-size: contain; */
      }
      #navbar ul li a:hover,
      #navbar ul li a.current {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        margin-top: 1.2rem;
        border-radius: 30px;
        background: hsl(0, 0%, 100%);
        color: hsl(198, 62%, 26%);
      }
    }
     @media screen and (max-width: 500px) {
  #header {
    background-color: hsl(200, 100%, 62.2%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #filler {
    width: none;
  }
  #navbar ul li {
    display: block;
    /* background-size: contain; */
  }
  #navbar ul li a:hover,
  #navbar ul li a.current {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin-top: 1.2rem;
    border-radius: 30px;
    background: hsl(0, 0%, 100%);
    color: hsl(198, 62%, 26%);
  }
  .hero-image {

    text-align: center;
     font-family: 'Fraunces', serif;
     font-size: 18px;
     line-height: 1.7em;
        color: hsl(0, 0%, 100%);
        background-color: hsl(200, 100%, 62.2%);/* Used if the image is unavailable */
        background-image: url("../img/mobile/image-header.jpg");
       /* height: 500px; You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain, cover; /* Resize the background image to cover the entire container */
       }
}